?*~
\#?*#
.#?*

/node_modules/

.DS_Store
[Dd]esktop.ini
$RECYCLE.BIN/

?*.exe
?*.so
?*.dylib
?*.dll
?*.a

eln-cache/
__pycache__/
?*.pyc

/package-lock.json

/bin/

?*.pb.go

?*.el[cn]

/CMakeUserPresets.json
.dir-locals-2.el

?*.[gx7]z
?*.zip
?*.tar

nohup.out

wget-log
wget-log.[0-9]
wget-log.[0-9][0-9]
wget-log.[0-9][0-9][0-9]
wget-log.[0-9][0-9][0-9][0-9]
wget-log.[0-9][0-9][0-9][0-9][0-9]
wget-log.[0-9][0-9][0-9][0-9][0-9][0-9]

gcm.cache/
compile_commands.json

?*.deb

core
